{% extends 'admin_base.html' %}
{% block main %}

<div class="card shadow">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom: 2px solid orange;">Link Prescription to Sale</h5>

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Medicine Name</label>
                <input type="text" name="medicine_name" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Quantity</label>
                <input type="number" name="quantity" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Total Price</label>
                <input type="text" name="total_price" class="form-control" required>
            </div>
            <input type="submit" value="Link Sale" class="btn btn-success">
        </form>
    </div>
</div>

{% endblock %}
